<head>
  <title>Poczta</title>

</head>

<body id="index">
</br></br>
  <div id="menu" >
    Zalogowany jako: ....
    <a href="http://google.pl/" style="color: white; text-decoration: none;"> Wyloguj </a>
  </br>
  </div>
    <hr >

    <ol class="breadcrumb" style="max-width: 75%">
      <li><a href="/teacher/Index">Sprawy organizacyjna</a></li>
      <li><a href="/teacher/oceny">Oceny</a></li>
      <li><a href="/teacher/statystyki">Statystyki</a></li>
      <li><a href="/teacher/dodaj">Dodaj ucznia</a></li>
      <li><a href="/teacher/profil">Profil</a></li>
      <li><a href="/teacher/poczta">Poczta</a></li>
    </ol>
</br></br></br>
