<head>
  <title>Nauczyciel</title>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>

<body id="index_pupil">
</br></br>

    <div class="navbar-wrapper">
        <div class="container-fluid">
            <nav class="navbar navbar-fixed-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">Logo</a>
                    </div>

                    <div id="navbar" class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                              <li><a href="/pupil/index" class="">Home</a></li>
                            <li><a href="/pupil/zadania">Zadania</a></li>
                            <li class="active"><a href="/pupil/osiagniecia">Osiagniecia</a></li>
                            <li><a href="/pupil/oceny">Oceny</a></li>
                            <li><a href="/pupil/wiadomosc">Wiadomosc</a></li>
                            <li><a href="/pupil/profil">Profil</a></li>
                        </ul>
                        <ul class="nav navbar-nav pull-right">

                            <li><a>  Zalogowany jako: ....</a></li>
                            <li class=""><a href="http://google.pl/" > Wyloguj </a></li>

                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</br></br></br>
