// Place all the styles related to the teacher controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap-sprockets";
@import "bootstrap";

//**********************index**************************

#index{
  background-color:#4169E1;
}

#menu{
  float:right;
  display: inline;
  color: white;
  text-decoration: none;
}

.datepicker .datepicker-inline{
  background-color: white;
}
#tabela{
  background-color: white;
}
//**********************index**************************
